# NLTK

In [1]:
import numpy as np
import pandas as pd
import config
import jupyter_service
import sys
import matplotlib.pyplot as plt
from dbcontext import Context
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
pd.options.display.float_format = '{:.2f}'.format
print(sys.version, np.__version__, pd.__version__, config.version)
context = Context()
context.create(echo=False)
service = jupyter_service.JupyterService(context)
nb_form=15854
print(config.connection_string)

3.11.3 (tags/v3.11.3:f3909b8, Apr  4 2023, 23:49:59) [MSC v.1934 64 bit (AMD64)] 2.0.2 2.2.3 0.1.0.Alpha
postgresql://postgres:sa@localhost:5432/yt1

In [2]:
question_nb=12
mode="nltk"

Stats

In [33]:
df = service.get_stats(mode)
avg=float(df.iloc[0].average)
median=float(df.iloc[0].median_)
percentile=float(df.iloc[0].percentile)
df

   average  median_  quartile  decile  percentile
0   144.63    10.00      3.00    2.00        2.00

Empathy Positive Score

In [4]:
empathy_category="pd"
df = service.get_scores(mode, question_nb, empathy_category, positive=True, denominator_thresold=0, numerator_thresold=avg, debug=True)
print(f"{empathy_category} positive score")
df.head(10)

pd positive score

     id     topic  nb_positive_form  nb_negative_form  score
0  7681      wish               532               352   1.51
1  7691    person               213               155   1.37
2  7701      want               460               344   1.34
3  7808    become               214               161   1.33
4  7667    better               649               493   1.32
5  7694     world               866               724   1.20
6  7683      help               392               328   1.20
7  7684      able               209               175   1.19
8  7737      make               498               420   1.19
9  7659  everyone               302               255   1.18

In [5]:
empathy_category="pd"
df = service.get_scores(mode, question_nb, empathy_category, positive=False, denominator_thresold=0, numerator_thresold=avg)
print(f"{empathy_category} negative score")
df.head(10)

pd negative score

     id      topic  nb_negative_form  nb_positive_form  score
0  7948  stability               161               103   1.56
1  7699   equality               169               139   1.22
2  7704      learn               215               179   1.20
3  7724       stop               147               126   1.17
4  7786     family               365               318   1.15
5  7898  financial               188               166   1.13
6  7722       give               152               135   1.13
7  7658  different               171               152   1.12
8  7790       free               209               187   1.12
9  7653     career               277               258   1.07

Low Noise

In [29]:
empathy_category="pd"
df = service.get_scores(mode, question_nb, empathy_category, positive=False, denominator_thresold=0, numerator_thresold=5)
df=df[df.score > 6] 
print(f"Low noise {empathy_category} negative score")
df.head(10)

Low noise pd negative score

Empty DataFrame
Columns: [id, topic, nb_negative_form, nb_positive_form, score]
Index: []

In [32]:
df = service.get_scores(mode, question_nb, empathy_category, positive=True, denominator_thresold=0, numerator_thresold=5)
df=df[df.score > 6] 
print(f"Low noise {empathy_category} negative score")
df.head(10)

Low noise pd negative score

     id    topic  nb_positive_form  nb_negative_form  score
2  7813   levels                 9              1.00   9.00
3  8510  whether                 8              1.00   8.00
4  8301  officer                 7              1.00   7.00