# Gestalt + NLTK + Vader

In [1]:
import numpy as np
import pandas as pd
import config
import jupyter_service
import sys
import matplotlib.pyplot as plt
from dbcontext import Context
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
pd.options.display.float_format = '{:.2f}'.format
print(sys.version, np.__version__, pd.__version__, config.version)
context = Context()
context.create(echo=False)
service = jupyter_service.JupyterService(context)
nb_form=15854
print(config.connection_string)

3.11.3 (tags/v3.11.3:f3909b8, Apr  4 2023, 23:49:59) [MSC v.1934 64 bit (AMD64)] 2.0.2 2.2.3 0.1.0.Alpha
postgresql://postgres:sa@localhost:5432/yt1

In [2]:
question_nb=12
mode="nltk"

Stats

In [3]:
df = service.get_stats(mode)
avg=float(df.iloc[0].average)
median=float(df.iloc[0].median_)
percentile=float(df.iloc[0].percentile)
df

   average  median_  quartile  decile  percentile
0   144.63    10.00      3.00    2.00        2.00

Empathy Positive Score

In [8]:
empathy_category="pd"
df = service.get_scores(mode, question_nb, empathy_category, positive=True, denominator_thresold=0, numerator_thresold=avg, debug=False, sentiment=True)
print(f"{empathy_category} positive score")
df.head(10)

pd positive score

     id         topic  nb_positive_form  nb_negative_form  score
0  7709        people               269                 5  53.80
1  7691        person               184                 4  46.00
2  7681          wish               486                11  44.18
3  7808        become               159                 4  39.75
4  7659      everyone               250                 7  35.71
5  7667        better               524                15  34.93
6  7763    successful               227                 7  32.43
7  7689         peace               581                18  32.28
8  7665  professional               193                 6  32.17
9  7694         world               690                23  30.00

In [9]:
empathy_category="empathy"
df = service.get_scores(mode, question_nb, empathy_category, positive=False, denominator_thresold=0, numerator_thresold=avg, sentiment=True, debug=False)
print(f"{empathy_category} negative score")
df.head(10)

empathy negative score

Empty DataFrame
Columns: [id, topic, nb_negative_form, nb_positive_form, score]
Index: []

Low Noise

In [6]:
empathy_category="pd"
df = service.get_scores(mode, question_nb, empathy_category, positive=False, denominator_thresold=0, numerator_thresold=5)
df=df[df.score > 6] 
print(f"Low noise {empathy_category} negative score")
df.head(10)

Low noise pd negative score

Empty DataFrame
Columns: [id, topic, nb_negative_form, nb_positive_form, score]
Index: []

In [7]:
df = service.get_scores(mode, question_nb, empathy_category, positive=True, denominator_thresold=0, numerator_thresold=5)
df=df[df.score > 6] 
print(f"Low noise {empathy_category} negative score")
df.head(10)

Low noise pd negative score

     id      topic  nb_positive_form  nb_negative_form  score
0  8555   numerous                42               NaN 420.00
1  8446  authentic                 7               NaN  70.00
2  7813     levels                 9              1.00   9.00
3  8510    whether                 8              1.00   8.00
4  8301    officer                 7              1.00   7.00