# Td Idf + Gestalt + NLTK

In [1]:
import numpy as np
import pandas as pd
import config
import jupyter_service
import sys
import matplotlib.pyplot as plt
from dbcontext import Context
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
pd.options.display.float_format = '{:.2f}'.format
print(sys.version, np.__version__, pd.__version__, config.version)
context = Context()
context.create(echo=False)
service = jupyter_service.JupyterService(context)
print(config.connection_string)

3.11.3 (tags/v3.11.3:f3909b8, Apr  4 2023, 23:49:59) [MSC v.1934 64 bit (AMD64)] 2.0.2 2.2.3 0.1.0.Alpha
postgresql://postgres:sa@localhost:5432/yt1

In [2]:
question_nb=12
mode="tdidf"

In [3]:
df = service.get_stats(mode)
avg=df.iloc[0].average
median=df.iloc[0].median_
percentile=df.iloc[0].percentile
df

   average  median_  quartile  decile  percentile
0    51.24    13.00      5.00    3.00        2.00

Empathy Positive Score

In [4]:
empathy_category="empathy"
df = service.get_scores(mode, question_nb, empathy_category, positive=True, denominator_thresold=0, numerator_thresold=avg, debug=False)
print(f"{empathy_category} positive score")
df.head(10)

empathy positive score

     id        topic  score_positive_form  score_negative_form  score
0  9790         love               130.56                 1.87  69.72
1  9773       planet                64.52                 0.97  66.71
2  9654     peaceful                62.79                 0.94  66.62
3  9058         able                66.47                 1.46  45.61
4  9487       health               124.04                 3.38  36.70
5  9089        happy               215.32                 5.97  36.04
6  9785  environment                66.55                 1.90  35.09
7  9796    happiness               270.68                 7.80  34.71
8  9797       change                55.86                 1.92  29.05
9  9664         help                76.26                 2.65  28.80

Empathy Negative Score

In [5]:
df = service.get_scores(mode, question_nb, empathy_category, positive=False, denominator_thresold=0, numerator_thresold=avg)
print(f"{empathy_category} negative score")
df.head(10)

empathy negative score

Empty DataFrame
Columns: [id, topic, score_negative_form, score_positive_form, score]
Index: []

Low Noise

In [6]:
empathy_category="empathy"
df = service.get_scores(mode, question_nb, empathy_category, positive=False, denominator_thresold=0, numerator_thresold=0)
df=df[df.score > avg] 
print(f"Low noise {empathy_category} negative score")
df.head(10)

Low noise empathy negative score

Empty DataFrame
Columns: [id, topic, score_negative_form, score_positive_form, score]
Index: []

In [11]:
df = service.get_scores(mode, question_nb, empathy_category, positive=True, denominator_thresold=0, numerator_thresold=0, sentiment=False)
df=df[df.score > avg] 
print(f"Low noise {empathy_category} positive score")
df.head(10)

Low noise empathy positive score

      id       topic  score_positive_form  score_negative_form  score
0  13171     comfort                24.50                  NaN 245.05
1   9070   fulfilled                23.20                  NaN 231.95
2   9635      impact                29.73                 0.13 223.10
3  13354       unity                21.32                  NaN 213.22
4   9229  contribute                21.31                  NaN 213.15
5  13356   something                20.40                  NaN 204.05
6  13012        home                20.25                  NaN 202.46
7  11945      safety                43.03                 0.22 196.46
8  12998       loved                18.28                  NaN 182.79
9   9634     helping                16.10                  NaN 161.00