# TextRank

In [1]:
import numpy as np
import pandas as pd
import config
import jupyter_service
import sys
import matplotlib.pyplot as plt
from dbcontext import Context
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
pd.options.display.float_format = '{:.2f}'.format
print(sys.version, np.__version__, pd.__version__, config.version)
context = Context()
context.create(echo=False)
service = jupyter_service.JupyterService(context)
nb_form=15854
print(config.connection_string)

3.11.3 (tags/v3.11.3:f3909b8, Apr  4 2023, 23:49:59) [MSC v.1934 64 bit (AMD64)] 2.0.2 2.2.3 0.1.0.Alpha
postgresql://postgres:sa@localhost:5432/yt1

In [2]:
question_nb=12
mode="textrank"

Most used topics

In [3]:
df = service.get_topics(mode, question_nb)
nb_topic = len(df)
df

           topic  nb_form
0          peace     2898
1          world     2039
2      countries     2026
3           life     1702
4           good     1517
..           ...      ...
851    hollywood        2
852        tanti        2
853      lebanon        2
854  inegalities        2
855      glitter        2

[856 rows x 2 columns]

Stats

In [4]:
df = service.get_stats(mode)
avg=df.iloc[0].average
median=df.iloc[0].median_
percentile=df.iloc[0].percentile
df

   average  median_  quartile  decile  percentile
0    57.02     6.00      3.00    2.00        2.00

Empathy Positive Score

In [5]:
empathy_category="pd"
df = service.get_scores(mode, question_nb, empathy_category, positive=True, denominator_thresold=0, numerator_thresold=avg, debug=False)
print(f"{empathy_category} positive score")
df.head(10)

pd positive score

     id     topic  nb_positive_form  nb_negative_form  score
0  5987    better               357               226   1.57
1  5997    dreams                62                40   1.51
2  6036    person               151               100   1.50
3  5962  everyone               125                84   1.47
4  6005    future               127                96   1.31
5  5998     world               549               435   1.26
6  5972    others               127               104   1.21
7  5971   harmony                60                50   1.18
8  5966   society               152               129   1.17
9  6018      work                97                82   1.17

In [6]:
empathy_category="pd"
df = service.get_scores(mode, question_nb, empathy_category, positive=False, denominator_thresold=0, numerator_thresold=avg)
print(f"{empathy_category} negative score")
df.head(10)

pd negative score

     id      topic  nb_negative_form  nb_positive_form  score
0  6338   economic                63                24   2.52
1  6182   security                87                54   1.58
2  6120  stability               120                75   1.58
3  5975    balance                69                49   1.38
4  6074    ability                59                42   1.37
5  6010    climate               124                92   1.33
6  6108  financial               112                85   1.30
7  6011     change               130               102   1.26
8  6029    freedom               124                99   1.24
9  6043  education                58                46   1.23

Low Noise

In [11]:
empathy_category="pd"
df = service.get_scores(mode, question_nb, empathy_category, positive=False, denominator_thresold=0, numerator_thresold=5)
df=df[df.score > 6] 
print(f"Low noise {empathy_category} negative score")
df.head(10)

Low noise pd negative score

Empty DataFrame
Columns: [id, topic, nb_negative_form, nb_positive_form, score]
Index: []

In [12]:
df = service.get_scores(mode, question_nb, empathy_category, positive=True, denominator_thresold=0, numerator_thresold=5)
df=df[df.score > 6] 
print(f"Low noise {empathy_category} negative score")
df.head(10)

Low noise pd negative score

Empty DataFrame
Columns: [id, topic, nb_positive_form, nb_negative_form, score]
Index: []