# Topic

In [1]:
import numpy as np
import pandas as pd
import config
import jupyter_service
import sys
import matplotlib.pyplot as plt
from dbcontext import Context
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
pd.options.display.float_format = '{:.2f}'.format
print(sys.version, np.__version__, pd.__version__, config.version)
context = Context()
context.create(echo=False)
service = jupyter_service.JupyterService(context)
nb_form=15854
print(config.connection_string)

3.11.3 (tags/v3.11.3:f3909b8, Apr  4 2023, 23:49:59) [MSC v.1934 64 bit (AMD64)] 2.0.2 2.2.3 0.1.0.Alpha
postgresql://postgres:sa@localhost:5432/yt1

In [2]:
question_nb=12
mode="textrank"

Most used topics

In [3]:
df = service.get_topics(mode, question_nb)
nb_topic = len(df)
df

           topic  nb_form
0          peace     2898
1          world     2039
2      countries     2026
3           life     1702
4           good     1517
..           ...      ...
851    hollywood        2
852        tanti        2
853      lebanon        2
854  inegalities        2
855      glitter        2

[856 rows x 2 columns]

Lemas

In [5]:
topic = "comfort"
df = service.get_lemas(topic, mode)
df.head(10)

  topic_label   lema_label  count
0   countries    countries    120
1   countries      comfort    115
2   countries    community     84
3   countries   conditions     70
4   countries  comfortable     52
5   countries   corruption     50
6   countries      company     48
7   countries       mutual     45
8   countries       common     42
9   countries    conflicts     42

In [ ]:
topic = "peace"
df = service.get_lemas(topic, mode)
service.show_lemas(df)